// fonts
$main-font: 'Helvetica', sans-serif;
// colors
$blue: #782398;
$primary-color: #333;

$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;


$colorCoinBG1: #A67C00;
$colorCoinBG2: #BF9B30;
$colorCoinBG3: #FFBF00;
$colorCoinBG4: #C5B358;


