// fonts
$main-font: 'Helvetica', sans-serif;
// colors
$blue: #782398;
$primary-color: #333;

$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* COLOR VARIABLES
============================================= */
$orange: #ffa600;
$blue: #82d2e5;
$green:#c1d72e;
$white: #ffffff;
$grey:#C0C0C0;

$colorCoinBG1: #A67C00;
$colorCoinBG2: #BF9B30;
$colorCoinBG3: #FFBF00;
$colorCoinBG4: #C5B358;


/* GRADIENT LISTS
============================================= */

$list1: $white, $grey, $white; 

$list2: $blue 0%,$blue 33%,$green 33%,$green 66%, $orange 66%, $orange 100%; 

$list3: $blue 0%,$blue 10%,$green 25%,$green 39%,$orange 79%,$orange 100%; 

$list4: $blue, $green, $orange, $blue, $green, $orange, $blue, $green, $orange; 