
.coin
{
   // background-image: url('../coins/bg.jpg');
    width:100%;
    height: 100%;
    background: linear-gradient(-45deg, $colorCoinBG1, $colorCoinBG2, $colorCoinBG3, $colorCoinBG4);
    background-size: 400% 400%;
    animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}